@{
    ViewBag.Title = "Morosidad";
    Layout = "~/Views/Compartida/_PaginaDiseño2.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <h2>
            <input type="text" id="lb_nombreu" hidden value="@Session["UserName"].ToString()">
            <input type="text" id="lb_usuario" hidden value="@Session["UserID"].ToString()">
        </h2>
    </div>
    <div class="row">
        <h3>
            <strong>VER MIS GASTOS SIN PAGAR</strong> 
        </h3>
        <hr />
    </div>
    <div class="well">
        <h4>Indique los datos solicitados para visualizar sus deudas</h4>
        <form class="form-inline">
            <label for="viviendaSelect">Seleccione su residencia</label>
            <select id="viviendaSelect" class="form-control">
                <option>Seleccione</option>
            </select>         
            <button type="button" id="btnFiltrar" class="btn btn-primary" onclick="filtrarGastos()">Filrtar Gastos</button>
        </form>
    </div>
    <!-- /.row -->
    <div class="row" id="tabla_gastos" hidden>
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Información de Gastos Impagos
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id=tablaReservas class="alert alert-warning" style="overflow-x: auto;">
                        <table width="100%" class="table table-striped table-bordered table-hover" id="tabla">
                            <thead>
                                <tr>
                                    <th>Nombre de Gasto</th>
                                    <th>Fecha de Ingreso</th>
                                    <th>Descripción</th>
                                    <th>Monto</th>
                                </tr>
                            </thead>
                            <tbody id="cuerpo"></tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.row -->
        <div>
            <button type="button" id="btnPagarGastos" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("PagarGastos", "GastosComunes")'">Ir a Pagar Gastos</button>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
<div id="dialogoverlay"></div>
<div id="dialogbox">
    <div>
        <div id="dialogboxhead"></div>
        <div id="dialogboxbody"></div>
        <div id="dialogboxfoot"></div>
    </div>
</div>

<script src="~/Scripts/jquery.js"></script>
<script>
    $(document).ready(function () {
        cargarMisViviendas();
    });

    function CustomAlert() {
        this.render = function (dialog) {
            var winW = window.innerWidth;
            var winH = window.innerHeight;
            var dialogoverlay = document.getElementById('dialogoverlay');
            var dialogbox = document.getElementById('dialogbox');
            dialogoverlay.style.display = "block";
            dialogoverlay.style.height = winH + "px";
            dialogbox.style.left = (winW / 2) - (550 * .5) + "px";
            dialogbox.style.top = "100px";
            dialogbox.style.display = "block";
            document.getElementById('dialogboxhead').innerHTML = "Información";
            document.getElementById('dialogboxbody').innerHTML = dialog;
            document.getElementById('dialogboxfoot').innerHTML = '<button onclick="Alert.ok()">Entendido</button>';
        }
        this.ok = function () {
            document.getElementById('dialogbox').style.display = "none";
            document.getElementById('dialogoverlay').style.display = "none";
        }
    }
    var Alert = new CustomAlert();

    function cargarMisViviendas() {

        var usuario = $('#lb_usuario').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("ObtenerViviendasPorUsuario", "Condominios")',
            content: "application/json; charset=utf-8",
            dataType: "json",
            data: { "Usuario": usuario },
            success: function (respuesta) {

                if (respuesta.model != "") {
                    $("#viviendaSelect").empty()
                    $("#viviendaSelect").append("<option value=" + '"' + '"' + ">Seleccione</option>")
                    var filas = respuesta.model.length;
                    for (i = 0 ; i < filas; i++) {
                        var fila = respuesta.model[i];
                        var celda = fila.toString().split(";");
                        var nuevafila =
                            "<option value=" + celda[0] + ">" + celda[2] + " " + celda[1] + " / " + celda[5] + "</option>"
                        $("#viviendaSelect").append(nuevafila)                        
                    }
                } else {
                    $('#filtro').hide();
                    Alert.render('No se han encontrado viviendas para su usuario');
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                Alert.render('Error: No se pudo cargar método "Obtener viviendas por usuario"');
            }
        });
    }

    function filtrarGastos() {
        var vivienda = $('select#viviendaSelect').val();

        if (vivienda == "") {
            Alert.render('Debe indicar una vivienda a consultar');
        } else {
            $.ajax({
                type: "POST",
                url: '@Url.Action("BuscarMorosidadPorVivienda", "GastosComunes")',
                content: "application/json; charset=utf-8",
                dataType: "json",
                data: {  "Vivienda": vivienda },
                success: function (respuesta) {
                    if (respuesta.model.length != 0) {
                        $("#cuerpo").empty()
                        var filas = respuesta.model.length;
                        var total = 0;
                        for (i = 0 ; i < filas; i++) {
                            var fila = respuesta.model[i];
                            var celda = fila.toString().split(";");
                            var nuevafila = "<tr><td>" +
                                celda[0] + "</td><td>" +
                                celda[1] + "</td><td>" +
                                celda[2] + "</td><td> $" +
                                celda[3] +  "</td></tr>"
                            $("#tabla").append(nuevafila)
                            var suma = Number(celda[3]);
                            total = total + suma;
                            if (i == filas-1) {
                                $("#tabla").append("<tr><td colspan=" + '"3"' + ">TOTAL DEUDA</td><td> $" + total + "</td></tr>")
                            }
                        }
                        $("#tabla_gastos").show();
                    } else {
                        Alert.render("No hay datos registrados para la busqueda");
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    Alert.render('Error al cargar el metodo del controlador:"Filtrar morosidad"');
                }
            });
        }
    }

</script>
